[Unit]
Description=Run Waybar healthcheck periodically

[Timer]
OnBootSec=45s
OnUnitActiveSec=30s
AccuracySec=10s
Unit=waybar-healthcheck.service

[Install]
WantedBy=timers.target
